.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .forgot-password-subContainer {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  .Header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .Body {
    display: flex;
    flex-direction: column;
  }

  .TextField {
    margin-bottom: 20px;
  }

  .reset-link {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    word-wrap: break-word;
    max-width: 100%;
  }
}
