h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 30px; /* Increased margin */
  color: #5f19ec; /* Title color */
}
h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 30px; /* Increased margin */
  color: #071a2f; /* Title color */
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Container {
  padding: 20px;
}

.TableContainer {
  margin-top: 20px;
}

.Table {
  width: 100%;
}

.TableHead {
  background-color: #f5f5f5;
}

.TableCell {
  font-weight: bold;
}

.TableRow:nth-child(even) {
  background-color: #f9f9f9;
}

.TableRow:hover {
  background-color: #f0f0f0;
}

.Button {
  margin-right: 5px;
}

.AddEmployeeLink {
  text-decoration: none;
  color: #1976d2; /* MUI primary color */
}

.AddEmployeeLink:hover {
  text-decoration: underline;
}

.NoEmployees {
  font-style: italic;
  color: #777;
}

.NoEmployees:hover {
  color: #333;
}

.down-buttons {
  margin-top: 20px;
}
